*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: whitesmoke;
}

h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    color: rgb(114, 114, 114);
    text-shadow: 1px 0.5px rgba(16, 16, 16, 0.844);
    font-size: 24px;
    padding-bottom: 15px;
}

.containerPpal{
    width: 90%;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.entryTask{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.task{
    width: 80%;
    max-width: 600px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.btnAll{
    outline: none;
    /* width: 30px; */
    border-radius: 30PX;
    /* background-color: rgb(52 13 45); */
    border: 0.5px groove rgb(114, 114, 114);
    padding: 5px;
    cursor: pointer;
    padding: 8px 12px;
    border-style: none;
    border: 1px solid rgb(52 13 45);
    color: rgb(52 13 45);
    box-shadow: 0px 1px 2px 0px rgb(52 13 45);
    cursor: pointer;
    font-weight: bold;
}

.btnAll:hover{
    background-color: #340d2d;
    color:aliceblue;
}



.buttonAdd{
    outline: none;
    width: 30px;
    border-radius: 30PX;
    border: none;
    /* background-color: rgb(180, 101, 166); */
    /* border: 0.5px groove rgb(114, 114, 114); */
    /* padding: 5px; */
    /* font-size: 14px; */
    cursor: pointer;
    /* background: black url(https://api.iconify.design/ion/add-circle-outline.svg?color=%23b464a6) no-repeat center center / contain; */
    background:  url('https://api.iconify.design/ion/add-circle.svg?color=%23340d2d') no-repeat center center / contain;
}

.buttonAdd:hover{
    background-color: rgb(177 132 169);
}

/* input[type="checkbox"] {
    display: grid;
    place-content: center;
  }
  
  input[type="checkbox"]::before {
    content: "";
    width: 20px;
    height: 20px;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
  }
  
  input[type="checkbox"]:checked::before {
    transform: scale(1);
  } */

/* .boxTask input:checked ~ .delete{
    background-color: black;  
} */

.inputTask{
    outline: none;
    border-radius: 15px;
    border: 1px solid #340d2d;
    padding: 5px 15px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

.containerTasks{
    width: 100%;
    min-width: 250px;
    /* padding: 20px 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    background: white;
    border-radius: 8px;
    box-shadow: rgb(95 19 151 / 24%) 0px 10px 20px;
    /* gap: 10px; */
}

.containerTasks.addTask {
    padding: 20px 10px;
    gap: 10px;
}

.boxTask{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    /* align-content: center; */
    align-items: center;
}

.textTask{
    width: 70%;
    font-family: cursive;
    border-bottom: 1px solid gray;
    margin-left: 5px;
    margin-right: 5px;
}

.delete{
    outline: none;
    width: 20px;
    max-width: 30px;
    height: 30px;
    max-height: 40px;
    background-color: rgb(107, 77, 102);
    border: none;
    /* padding: 0px 3px; */
    /* border-radius: 2px; */
    cursor: pointer;
    background: url(https://api.iconify.design/ion/trash.svg?color=%23340d2d) no-repeat center center / contain;
}

.boxButtons {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}